body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
}

/* Header */
header {
  background-color: #b01c2e;
  color: #333;
  padding: 20px;
}

header h1 {
  color: #333;
  margin: 0;
}

/* Navigation */
nav {
  margin-top: 10px;
}

nav a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Main content */
.container {
  max-width: 1000px;
  margin: 30px auto;
  background: #e1e8f4;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* PDF Viewer */
.pdf-container {
  margin-top: 20px;
  border: 1px solid #ccc;
}

/* Footer Logos */
.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  margin-top: 40px;
  background-color: white;
}

.logo-footer img {
  height: 200px;
  width: auto;
  object-fit: contain;
}

.main-image {
  width: 100%;
  max-width: 100%;
  height: auto;
/*     object-fit: contain; */ 
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}